
    <!-- Educacion -->
    <section class="titulosSecciones">
        <div class="container-fluid colorFondo2">
            <h2 class="pt-2 pb-2">Educación</h2>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-3 pt-2">
                    <p>2010 hasta 2014</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Universidad Nacional de Catamarca</h5>
                    <h6 class="center">Avda. Belgrano al 300 - San Fernando del Valle de Catamarca, Argentina</h6>
                    <p><strong>Título:</strong> Profesor Universitario en Computación</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Educacion -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-2">
                    <p>1992 hasta 2002</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Universidad Tecnológica Nacional - Facultad Regional Tucumán</h5>
                    <h6 class="center">Rivadavia 1050, San Miguel de Tucumán - Argentina</h6>
                    <p><strong>Título:</strong> Ingeniero en Sistemas de Información</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Educacion -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-2">
                    <p>1987 hasta 1991</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Instituto San Marcos</h5>
                    <h6 class="center">Muñecas 385, San Miguel de Tucumán - Argentina</h6>
                    <p><strong>Título:</strong> Bachiller</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Educacion -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>


<!-- <div class="col-1 pt-2">
     Button trigger modal - Boton para abrir formulario Educacion
    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
        <i class="fa-solid fa-pen-to-square fa-xl"></i>
    </button>
    <button type="button" class="btn colorBoton">
        <i class="fa-solid fa-trash fa-xl"></i>
    </button>
</div>-->


    <!-- Formulario Modal Educacion -->
    <div class="modal fade" id="modalEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Educación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="row g-3">
                        <div class="col-12">
                            <label for="inputInstitucion" class="form-label">Institución</label>
                            <input type="text" class="form-control" id="inputInstitucion" placeholder="Nombre de la institución">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Calle, Avda ...">
                        </div>
                        <div class="col-12">
                            <label for="inputPosicion" class="form-label">Título</label>
                            <input type="text" class="form-control" id="inputPosicion" placeholder="Ingeniero, Contador, Profesor">
                        </div>
                        <div class="col-12">
                            <label for="inputPeriodo" class="form-label">Periodo</label>
                            <input type="text" class="form-control" id="inputPeriodo" placeholder="Periodo expresado literalmente">
                        </div>
                        <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Grabar</button>
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
