    <!-- Experiencia -->
    <section class="titulosSecciones">
        <div class="container-fluid colorFondo2">
            <h2 class="pt-2 pb-2">Experiencia</h2>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-3 pt-2">
                    <p>Marzo de 2015 hasta la actualidad</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Centro de Formación Profesional N° 1</h5>
                    <h6 class="center">Ayacucho 848 - San Miguel de Tucumán, Argentina</h6>
                    <p><strong>Posición:</strong> Docente</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Experiencia -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-2">
                    <p>Diciembre de 2006 hasta la actualidad</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Junta de Clasificación Técnica, Agrotécnica y Ed. No Formal</h5>
                    <h6 class="center">Calle Córdoba 757 - 1° Piso - San Miguel de Tucumán, Argentina</h6>
                    <p><strong>Posición:</strong> Referente Informatico</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Experiencia -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 pt-2">
                    <p>Febrero de 1998 hasta Septiembre de 2001</p>
                </div>
                <div class="col-8 pt-2">
                    <h5 class="colorOrg">Estudio Contable Auad</h5>
                    <h6 class="center">Av. Mitre 686 - 1º Piso - San Miguel de Tucumán, Argentina</h6>
                    <p><strong>Posición:</strong> Administrativo Contable</p>
                </div>
                <div class="col-1 pt-2">
                    <!-- Button trigger modal - Boton para abrir formulario Experiencia -->
                    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalExperiencia">
                        <i class="fa-solid fa-pen-to-square fa-xl"></i>
                    </button>
                    <button type="button" class="btn colorBoton">
                        <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Formulario Modal Experiencia -->
    <div class="modal fade" id="modalExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Experiencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="row g-3">
                        <div class="col-12">
                            <label for="inputInstitucion" class="form-label">Institución</label>
                            <input type="text" class="form-control" id="inputInstitucion" placeholder="Nombre de la institución">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Calle, Avda ...">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPosicion" class="form-label">Posición</label>
                            <input type="text" class="form-control" id="inputPosicion" placeholder="Encargado, administrativo">
                        </div>
                        <div class="col-12">
                            <label for="inputPeriodo" class="form-label">Periodo</label>
                            <input type="text" class="form-control" id="inputPeriodo" placeholder="Periodo expresado literalmente">
                        </div>
                        <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Grabar</button>
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

