<!--Banner con foto--> 
<section id="todo-sobre-mi" class="about">
    <div class="container-fluid text-center"></div>
    <img src="/assets/img/ALPES SUIZOS.png" alt="" width="100%" height="50%">
    <div class="row d-flex justify-content-center apertura">
     <div class="col-6"></div>
       <div class="col-6 navegacion">
        <div class="position-absolute">        
          <a href="#experiencia"><button class="btn btn-light">Experiencia</button></a>
          <a href="#educacion"><button class="btn btn-light">Educacion</button></a>
          <a href="#habilidades"><button class="btn btn-light">Habilidades</button></a>
          <a href="#proyectos"><button class="btn btn-light">Proyectos</button></a>
          <a href="#footer"><button class="btn btn-light">Contacto</button></a>        
        </div>










         
        
        <!--<div class="position-absolute">
          <a href="#awards"><button class= "btn btn-light">LOGROS</button></a> 
          <a href="#education"><button class= "btn btn-light">EDUCACIÓN</button></a>
          <a href="#interests"><button class= "btn btn-light">INTERESES</button></a>
          <a href="#work"><button class= "btn btn-light">TRABAJOS</button></a>
          <a href="#skills"><button class= "btn btn-light">SKILLS</button></a>
          <a href="#experience"><button class= "btn btn-light">EXPERIENCIA</button></a>
          <a href="#proyects"><button class= "btn btn-light">PROYECTOS</button></a>
        </div>-->   
       </div>
     </div> 
  </section>
  <!-- Modal Banner-->
   <!--Button trigger modal -->
  <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#bannerModal" class="btn btn-close-white editBanner"><i class="fa-solid fa-pencil"></i></button> 
  
