<!--section --> 

<section>
<h2>Awards</h2>
<div class="col-1 pt-2">
    <!-- Button trigger modal - Boton para abrir formulario Award-->
    <button type="button" class="btn colorBoton" data-bs-toggle="modal" data-bs-target="#modalAward">
        <i class="fa-solid fa-pen-to-square fa-xl"></i>
    </button>
    <button type="button" class="btn colorBoton">
        <i class="fa-solid fa-trash fa-xl"></i>
    </button>
</div>
</section>
    <!-- Formulario Modal Award-->
    <div class="modal fade" id="modalExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Award</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form class="row g-3">
                        <div class="col-12">
                            <label for="inputInstitucion" class="form-label">Institución</label>
                            <input type="text" class="form-control" id="inputInstitucion" placeholder="Nombre de la institución">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Calle, Avda ...">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPosicion" class="form-label">Posición</label>
                            <input type="text" class="form-control" id="inputPosicion" placeholder="Encargado, administrativo">
                        </div>
                        <div class="col-12">
                            <label for="inputPeriodo" class="form-label">Periodo</label>
                            <input type="text" class="form-control" id="inputPeriodo" placeholder="Periodo expresado literalmente">
                        </div>
                        <div class="col-md-12 d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Grabar</button>
                            <button type="submit" class="btn btn-md rounded-3 btn-outline-success">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




